.announContainer {
	background: var(--howlr-color-white);
	border: 1px solid var(--howlr-color-soul);
	box-shadow: 0 4px 8px 0 rgba(0, 30, 73, 0.04);
	border-radius: 4px;
	padding: 24px 24px 0 24px;
	max-width: 560px;

	& h2 a {
		color: var(--howlr-color-main);
		&:hover {
			color: var(--howlr-color-primary);
		}
	}

	& img {
		max-width: 100%;
		border-radius: 4px;
	}
}
