.wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease-in-out;

	&:hover:not(.disabled) {
		cursor: pointer;
	}

	&.disabled {
		cursor: not-allowed;

		.avatar {
			background-color: var(--howlr-color-fog);
			color: var(--howlr-color-light);

			&.img {
				filter: grayscale(100%);
				opacity: 0.24;
			}
		}
	}
}

.avatar {
	width: 40px;
	height: 40px;
	padding: 0;
	object-fit: cover;
	border-radius: 50%;
	background-color: var(--howlr-color-primary-08);
	color: var(--howlr-color-primary);
	transition: all 0.4s ease-in-out;
	font-size: 12px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;

	&.img {
		padding: 0;
		border-radius: 99px;
	}
}
