.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	flex-grow: 1;
}

.container {
	flex-grow: 2;
	align-content: stretch;
	display: flex;
	justify-content: space-between;
}

.menu {
	flex-grow: 1;
}

.content {
	flex-grow: 2;
	padding: 32px;
}

.newPost {
	width: 100%;
}

.sidebar {
	flex-grow: 1;
	max-width: 344px;
	padding: 32px 24px 0 0;
}
